body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 80vh;
  padding: 5vh 0px;
}
.calculator {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  margin: auto;
  background-color: black;
  color: white;
  border-radius: 30px;
}
.whiteBorder {
  border: 2px solid rgba(255, 255, 255, 0.951);
  padding: 15px;
  border-radius: 30px;
}
header {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-content {
  display: flex;
  gap: 6px;
}
.buttons .container1,
.container2,
.container3,
.container4 {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-template-rows: repeat(1, 70px);
  gap: 8px;
  margin: 10px 0px;
}
.zeroBtnDiv {
  display: grid;
  grid-template-columns: 146px 70px 70px;
  grid-template-rows: repeat(1, 70px);
  gap: 8px;
}
button {
  border-radius: 100%;
  font-size: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zeroBtnDiv .zeroBtn {
  border-radius: 30px;
  text-align: start !important;
  display: flex;
  justify-content: start;
  padding-left: 25px;
}
.Display {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: end;
  align-items: end;
  width: 300px;
  height: 30vh;
  word-break: break-all;
  overflow-y: scroll;
}
.calculate {
  font-size: 30px;
  color: lightgray;
  overflow-y: scroll;
  height: fit-content;
}
.result {
  font-size: 45px;
  letter-spacing: 2px;
  height: fit-content;
  overflow-y: scroll;
}
.operator2 {
  background-color: rgba(211, 211, 211, 0.716);
  color: black;
}
.operator1 {
  background-color: hsl(30, 100%, 50%);
  color: white;
}
.figure {
  background-color: rgba(105, 105, 105, 0.69);
  color: white;
}
.swipe {
  width: 100px;
  border-bottom: 2px solid white;
  margin: auto;
  padding-top: 30px;
}

@media (max-width: 360px) {
  .Display {
    width: 180px;
  }
  .calculate {
    font-size: 20px;
  }
  .result {
    font-size: 30px;
  }
  button {
    font-size: 22px;
  }
  .buttons .container1,
  .container2,
  .container3,
  .container4 {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: repeat(1, 40px);
    gap: 8px;
    margin: 10px 0px;
  }
  .zeroBtnDiv {
    grid-template-columns: 87px 40px 40px;
    grid-template-rows: repeat(1, 40px);
  }
  .zeroBtnDiv .zeroBtn {
    border-radius: 20px;
    padding-left: 15px;
  }
}
